/****************GENERAL****************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

/*******************BOTON DE WHATS APP FIXED********************/

.cajaPrincipal {
  border: 2px #cba067;
  width: 100%;
/*   height: 200px;
 */  position: relative; /*solo contenedor el cuadrado de abajo queda adentro del contenedor*/
}

.caja {
  
  color: #4F3F2A;
  font-weight: bold;
  width: 200px;
  height: 30px;
  display: inline-block;
  margin-bottom: 70px;
  text-align: center;
  margin-right: 30px;
  
  
}

/*position*/
.itemTres {
  
  position: fixed;
  bottom: 20px;
  right: 40px;
}

/****************NAV LOGO****************/

.containerLogo {
  text-align: center;
}

/****************NAVEGADOR****************/

.contenedorNavegador {
  background-color: #E4D0C2;

}

.contenedorNavegador a {
  margin-right: 4rem;
  margin-left: 3rem;
  color: #4F3F2A;
}

.contenedorNavegador a:hover {
 
  color: #cba067;
}



/****************PORTADA****************/

.card p {
  text-align: right;
  color: #4F3F2A;
  font-size: 36px;
  font-weight: 600;
  margin-top: 3rem;

}

/******************MAIN******************/


.fotosEstilistas {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.btn {
  background-color: #E4D0C2;
  border: none;
  color: #4F3F2A;

}

.btn:hover {
  background-color: #ffb682;
}

/*************CARRUSEL***********************/

.cardCarrusel {
  display: flex;
  justify-content: space-around;
  margin-bottom: 6rem;
}

/*************PRODUCTOS***********************/

h2 {
  text-align: center;
  font-size: 36px;
  color: #4F3F2A;
  margin-bottom: 25px;
  font-weight: 600;
}

.cardCarruselProductos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

/*************SERVICIOS***********************/
.serviciosMain{
  margin-left: 200px;
}
.serviciosTitulo {
  color: #35373a;
  font-size: 20px;
  margin-bottom: 25px;

}
.serviciosTitulo .subtituloServicios {
  color: #35373a;
  font-size: 16px;
}

.galeriaUno .parrafoServicios p{
  color: #35373a;
  font-size: 14px;
}




/**********QUIENES SOMOS INDEX ****************/

.quienesSomos {
  margin-top: 35px;
}
.quienesSomos p{
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 40px;
  font-size: 26px;
  text-align: center;
}


/***************HAPPY CLIENTS*******************/

#happyClients {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  margin-top: 5rem;
 
}

#happyClients .happyClientsBorder  {
  width: 350px;  
  border: solid #C8988A;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: 1rem;
}

#happyClients .title  {
  font-weight: 700;
}
/******************FOOTER******************/

.contenedorInfo {
  display: flex;
  background-color: #E4D0C2;
  color: #4F3F2A;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.contenedorParrafo {
  margin-top: 20px;
}

.footer-dark {
  /*     margin-top: 50px;
 */
  padding: 35px 0;
  color: #4F3F2A;
  background-color: #D9BFAA;
  text-align: center;
}

.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 60%;
/*   box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
 */  margin: 0 8px;
  margin-top: 30px;
  color: #4F3F2A;
  opacity: 0.75;
}

.footer-dark .item.social>a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  font-size: 13px;
  margin-bottom: 0;
  color: #4F3F2A;

}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
  
}



.footer-dark .item.social {
  text-align: center;
}

/*CSS BARBY*/

.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px;
}

.tz-gallery {
  padding: 30px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.cuadro2 {
  display: grid;
  padding: 30px;
}

.cuadro2 .lightbox img {
  width: 100%;
  
}

.cuadro3 {
  display: grid;
  padding: 20px;
}

.cuadro3 .lightbox img {
  width: 100%;
  height: 95%;  
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
  border-radius: 5px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

.galeriaUno {

    display: grid;
    text-align: center;
    color: rgb(174, 147, 136);
    margin-top: 35px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.galeriaUno p{
  justify-content: center;
  color: #ae9388;
  font-size: 26px;
  text-align: center;
}

.galeriaDos {
  display: grid;
    text-align: center;
    color: black;
    align-content: center;
    justify-content: start;
    align-items: stretch;

}
.galeriaDos p{
  justify-content: center;
  color: black;
  font-size: 26px;
  text-align: initial;
}

hr {
  height: 1px;
  width: 100%;
  background-color: black;
}

h4
{ 
  margin-left: 5%;
  justify-content: center;
  color: black;
  text-align: initial;
}

.quienesSomosDos {
  margin-top: 35px;
  margin: 1%;
  justify-content: right;
}

.quienesSomosDos p{
  margin-left: 35px;
  margin-right: 35px;
  font-size: 26px;
  display: grid;
}

.quienesSomosDos p{
    
  font-size: 18px;
  
}

@media(max-width: 768px) {
  body {
      padding: 0;
  }

  .container.gallery-container {
      border-radius: 0;
  }
}


/*****************************************************************************************/
/******************************MEDIA QUERY******************************/




@media (max-width: 991px) {
  .card p {
    font-size: 30px;
  }

  .contenedorInfo {
    flex-direction: column;
  }
  .cardCarrusel {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
  }
  .fotosEstilistas {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  .btn {
    background-color: #E4D0C2;
    border: none;
    color: #4F3F2A;
    font-size: 18px;
    padding: 10px 10px;
  
  }
}


@media (max-width: 770px) {
  
  
  .btn {
    background-color: #E4D0C2;
    border: none;
    color: #4F3F2A;
    font-size: 16px;
    padding: 10px 5px;
  
  }
}

@media (max-width: 667px) {
  .card p {
    font-size: 20px;
  }

  .contenedorInfo {
    flex-direction: column;
  }
  .btn {
    background-color: #E4D0C2;
    border: none;
    color: #4F3F2A;
    font-size: 12px;
    padding: 5px 5px;
  
  }
  .quienesSomos p{
    
    font-size: 18px;
    
  }

}

@media (max-width: 485px) {
  .card p {
    font-size: 10px;

  }

  .contenedorInfo {
    flex-direction: column;
  }
  .btn {
    background-color: #E4D0C2;
    border: none;
    color: #4F3F2A;
    font-size: 10px;
    padding: 4px 4px;
  
  }
}

@media (max-width: 435px) {
  
  .btn {
    background-color: #E4D0C2;
    border: none;
    color: #4F3F2A;
    font-size: 8px;
    padding: 4px 25px;
    display: flex;
    justify-content: center;
  
  }
  .card p{
    margin-bottom: 45px;
  }
  
}

@media (max-width: 350px) {
  
  .btn {
    background-color: #E4D0C2;
    border: none;
    color: #4F3F2A;
    font-size: 6px;
    padding: 4px 20px;
    display: flex;
    justify-content: center;
   
    
    
  }
  
  
}

